/* Tag Selector */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

/* ID Selectors */
/* Class Selectors */
/* Navigation */
.sidenav {
  background-color: #fff;
  color: #000;
  padding-top: 24px;
  position: absolute;
  top: 0;
  left: -50px;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  width: 0;
  transition: 0.5s;
}

.navopts {
  display: flex;
  flex-direction: column;
  margin: 37px 0 10px;
}

.closebtn {
  padding-left: 25px;
}

.sidenav a {
  font: bold 18px/2.6 'Kumbh Sans', sans-serif;
  padding-left: 25px;
  transition: 0.5s;
}

.sidenav a:hover {
  background-color: #FF7D1A;
}

.sidenav a:active {
  background-color: #FF7D1A;
}

.blurred {
  background-color: rgba(0, 0, 0, .75);
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.5s;
  width: 100vw;
  z-index: 2;
}

/* header */
header {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.header-items {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px 22px;
}

.sidenavbtn {
  margin-right: 12px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-counter {
  position: relative;
}

.counter {
  background-color: hsl(26, 100%, 55%);
  border-radius: 8px;
  color: #fff;
  display: none;
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 9px;
  font-weight: bolder;
  padding: 1px 7px;
}

.avtr {
  margin-left: 20px;
  width: 24px;
}

.logo {
  vertical-align: baseline;
}

/* Carousel */
.carousel {
  position: relative;
  margin: 30px auto 27px;
  width: 100%;
  max-width: 100%;
  max-height: 338px;
  overflow: hidden;
}

.caro-img {
  object-fit: scale-down;
  max-width: 100%;
  transition: 100s;
}

.caro-pointer {
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  padding: 12px 14px;
  width: 10px;
}

.caro-prev {
  left: 15px;
}

.caro-nxt {
  right: 15px;
}

/* Item Description */
.pro-des {
  padding-left: 24px;
}

.sn-com {
  color: hsl(26, 100%, 55%);
  font: 13px 'Kumbh Sans', sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.itm-nm {
  font: bolder 28px 'Kumbh Sans', sans-serif;
  margin-bottom: 15px;
}

.itm-des {
  font: bold 15px/1.7 'Kumbh Sans', sans serif;
  color: hsl(220, 14%, 75%);
}

/* PRICING */
.pricing {
  margin: 10px auto 8px;
  padding: 12px 24px;
}

.prc-box {
  font: bold 30px 'Kumbh Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 18px;
}

.prc {}

.amt_dscnt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dscnt {
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  border-radius: 8px;
  font-size: 16px;
  font-weight: bolder;
  margin-left: -28px;
  padding: 3px 10px 3px 9px;
}

.dscnt-amt {
  color: hsl(220, 14%, 75%);
  font-size: 16px;
  text-decoration: line-through;
}

/* Price Contorls */
.prc-ctrl {
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  font-family: 'Kumb', sans-serif;
  justify-content: space-between;
  padding: 20px 22px;
}

.current-items {
  font-size: 18px;
  font-weight: bold;
}

.add-btn-div {
  padding: 0 24px;
  vertical-align: baseline;
}

.btn-cart-icon {
  margin-right: 15px;
}

.add-btn {
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 8px;
  box-shadow: 0 25px 35px -20px hsl(26, 100%, 55%);
  color: #ffffff;
  display: flex;
  justify-content: center;
  font: bold 16px 'Kumbh Sans', sans-serif;
  margin: auto;
  padding: 18px 0;
  width: 100%;
}

/* Cart Items Div */
.cart-div {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 20%);
  display: none;
  font: bold 18px 'Kumbh Sans', sans-serif;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 23px 25px 28px;
  min-height: 205px;
  width: 83%;
  z-index: 1;
}

.cart-div h3 {
  font-size: 15px;
  margin-bottom: 48px;
}

.cart-div h3::after {
  content: "";
  background: rgba(182, 188, 200, .3);
  height: 1px;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
}

.empty-note {
  display: block;
  color: hsl(219, 9%, 45%);
  font: bolder 16px 'Kumbh Sans', sans serif;
  transform: translate(27%, 55px);
}

/* Item Packs */
.item-pack {
  align-items: center;
  display: none;
  height: 50px;
  margin-top: 10px;
  transition: 0.6s;
}

/* Thumbnail */
.itp-img-div {
  margin-right: 15px;
  height: 50px;
  width: 50px;
}

.itp-thumbnail {
  border-radius: 5px;
  max-width: 100%;
}

/* ITP Name&Pricing */
.itp-name-div {
  color: hsl(220, 14%, 75%);
  display: flex;
  flex-direction: column;
  font: bold 16px/1.6 'Kumbh Sans', sans serif;
  justify-content: space-between;
  max-height: 50px;
}

.itp-name {
  letter-spacing: 0.7;
}

/* Cart ITP Pricing */
.itp-prc {
  font-size: 17px;
}

.itp-sub-ttl {
  color: #000;
}

/* Del Btn Div */
.del-itp-div {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 50px;
}

.del-itp-btn {
  cursor: pointer;
}

/* Checkout Btn */
.checkout-btn-div {
  display: none;
  margin: auto;
  margin-top: 25px;
  transition: 0.6s;
  width: 100%;
}

.checkout-btn {
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 10px;
  color: hsl(223, 64%, 98%);
  font: bold 16px 'kumbh Sans', sans serif;
  padding: 18px 30px;
  width: 100%;
}

/* attribution */
.attribution {
  font: bold 80% 'Kumbh Sans', sans-serif;
  text-align: center;
  background-color: hsl(26, 100%, 55%);
  margin-top: 40px;
  padding: 18px 24px;
}

.attribution a {
  color: white;
  text-decoration: none;
}